.docForm{
	width: 100%;
	height: 80vh;
	display: flex;
	justify-content: center;
	/* align-items: center; */
}
form{
	width: 40%;
	height: 56vh;
	background-color:rgba(121, 166, 244,0.9);
	border-radius: 20px;
}
.form-group{
	margin: 10px 30px ;
}
label{
	margin: 10px 0;
}
.nextBtn{
	margin-top: 20px;
	margin-left: 500px;
	padding: 10px;
	width: 90px;
	letter-spacing: 1px;
}
.form-group label{
	font-weight: 600;
	font-size: 1.1rem;
}