<div class="upload-section">
 <div class="upload-section-container">
	<form>
		<label>Upload document</label>
		<input type="file" class="form-control"> 
	</form>
  <div class="buttn">
		<p routerLink="/list-of-document"><i class="fa-solid fa-arrow-up-from-bracket"></i> Upload</p>
	</div>
	
  <div class="download-view-container">

	 <div class="download">
		<p><a href="#"><i class="fa-solid fa-download"></i> download </a></p>
	 </div>

	 <div class="view">
		<p><a href="#"><i class="fa-solid fa-eye"></i> view</a></p>
	 </div>

  </div>
 </div>
</div>